{% extends "community/community_base.html" %}

{% block precommunity %}
<div class="container">
  <h1>{{community.name}}</h1>
  <h2> Member Count: {{community.members.count}}</h2>

  <div class="content">
  	{% if user in community.members.all %}
  		<a href="{% url 'communities:leave' slug=community.slug %}" class="btn btn-lg btn-warning"><span class="fa fa-times-circle-o"></span> Leave</a>
  	{% else %}
  		<a href="{% url 'communities:join' slug=community.slug %}" class="btn btn-lg btn-warning"><span class="fa fa-check-circle-o"></span> Join</a>
  	{% endif %}

  </div>
</div>
{% endblock %}

{% block community_content %}

<div class="col-md-8">
	{% if community.member.count == 0 %}
	<h2>No Member in this community yet!</h2>

	{% else %}

		{% for member in community.member.all %}
			{% include "member/_member.html" %}
		{% endfor %}

	{% endif %}
</div>
{% endblock %}
