<div class="media">
	<h3 class="mr-5">
		<a href="{% url 'member:for_user' username=member.user.username %}">
		@{{ member.user.username }}
		</a>
	</h3>

	<div class="media-body">
		<strong>
			{{ member.user.username }}
		</strong>
		<h5>
			{{ member.message_html|safe }}
		</h5>
			<time class="time">
				<a href="{% url 'member:single' username=member.user.username pk=member.pk %}">
					{{ member.created_at }}
				</a>
			</time>
			{% if member.community %}
			<span class="group-name">in <a href="#">{{ member.community.name }}</a></span>
			{% endif %}
		</h5>

		<div class="media-footer">
			{% if user.is_authenticated and member.user == user and not hide_delete %}
				<a href="{% url 'member:delete' pk=member.pk %}" title="delete" class="btn btn-simple">
					<span class="fa fa-remove text-danger" aria-hidden="true"></span>
					<span class="text-danger icon-label">Delete</span>
				</a>
			{% endif %}
		</div>
	</div>
</div>
