{% extends "member/member_base.html" %}
{% load humanize %}

{% block pre_member_content %}
<div class="col-md-4">
	{% if request.user.is_authenticated %}
	<div class="card card-with-shadow">
		<div class="content">
			<h5 class="title">Your Communities</h5>
			<ul class="list-unstyled">

				{% for member_community in get_user_groups %}
				<li class="group li-with-bullet">
					<a href="{% url 'communities:single' slug=member_community.community.slug %}">{{ member_community.community.name }}</a>
				</li>
				{% endfor %}

			</ul>
		</div>
	</div>
	{% endif %}
	<div class="card card-with-shadow">
		<div class="content">
			<h5 class="title">All groups</h5>
			<ul class="list-unstyled">
				{# {% get_other_groups as other_groups %} #}
				{% for other_group in get_other_groups %}
					<li class="group li-with-bullet"><a href="{% url 'communities:single' slug=other_group.slug %}">{{ other_group.name }}</a></li>
				{% endfor %}
			</ul>

		</div>
	</div>
</div>
{% endblock %}
{% block member_content %}
<div class="col-md-8">
	{% for member in member_list %}
  {% include "member/_member.html" %}
	{% endfor %}
</div>
{% endblock %}
